<section style="height:100%;position: relative;">
    
    <div  (click)="moveBack()" style="background-color: #000000ab;height:inherit;">
        </div>
    <!-- <div x" style="background-color: #000000ab;height:inherit;"> -->
    <div class="curvCor"  style="position: absolute; top: 45%; left:25%; width:15em;background-color: white;color:black;">
        <div class="pad flex" style="place-content:baseline; border-bottom:1px var(--primary) solid;">
            <div class="dot"></div> <p style="margin:0;">Announcement</p>
        </div>
        <div class="pad">
            <p>{{s.ancerText}}</p>
            <button (click)="moveBack()" style="float:right;" mat-button color="primary">ok</button>
        </div>
    <!-- </div> -->
</div>
</section>