.page{
    min-height: 96vh;margin:2px;flex-direction: column; border: 1px solid red;
}
.show{
    display:block;
}
.hide{
    display:none;
}
.mat-icon-button{
    background-color: #fff;
    width: fit-content;
    border-radius: 40%;
    color: black;
    height: fit-content;
    padding: 3px 5px;
    line-height: 2;
}
div.flex > img{
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
    margin: 0 auto;
    vertical-align: middle;
}
#slideCar{
    position: fixed;
    top: 0;
    background-color: white;
    height: 100vh;
}
p{
    line-height: 2;
}
.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: inherit;
    color: inherit;
  }
  .bookImg{
    height: 9em;
    width:6em;
}
  form{
    position: fixed;
    bottom: 0;
    left:0;
    right:0;
    color: white;

  }
