<section class="pad flex" style="height:100%;">
    <div class="flex">
        <form [formGroup]="kil" (ngSubmit)="collectInfo()">
            <h1>Zeeta Energy</h1>
            <div>
                <mat-form-field>
                    <mat-label>Vendor</mat-label>
                    <mat-select formControlName="vendor">
                        <mat-option value="IKEDC">IKEDC</mat-option>
                    </mat-select>
                </mat-form-field>
                <br>
                <mat-form-field>
                    <mat-label>Meter No.</mat-label>
                    <input (blur)="verifyInfo()" formControlName="meterNo" matInput type="text">
                </mat-form-field>
                <br>
                <mat-form-field>
                    <mat-label>Amount</mat-label>
                    <input formControlName="amount" type="number" matInput>
                </mat-form-field>
                <br>

                <button mat-raised-button color="primary" style="width: 100%;" class="curvCor">Pay</button>
            </div>
        </form>
    </div>
</section>

<section class="loader-cont flex" *ngIf="loader">
    <div class="loader-wrapper flex">
        <img src="../../assets/loader.gif" alt="">
    </div>
  </section>