<section>
    <div class="pad">
        <ul>
            <li>
                <div>
                    <mat-card>
                        <h3>MTN</h3>
                        <hr>
                        <mat-list>
                            <div class="flex" style="place-content:space-between;" (click)="selected('mtn','1')"><b>1G for 30days</b><p>{{300|currency:"NGN "}}</p>
                            </div>
                            <div class="flex" style="place-content:space-between;" (click)="selected('mtn','2')"><b>2G for 30days</b><p>{{500|currency:"NGN "}}</p>
                            </div>
                            
                            <div class="flex" style="place-content:space-between;" (click)="selected('mtn','3')"><b>4.5G for 30days</b><p>{{1000|currency:"NGN "}}</p>
                            </div>
                            <div class="flex" style="place-content:space-between;" (click)="selected('mtn','4')"><b>6G for 30days</b><p>{{1500|currency:"NGN "}}</p>
                            </div>
                        </mat-list>
                    </mat-card>
                </div>
            </li>
            <li>
                <div>
                    <mat-card>
                        <h3>GLO</h3>
                        <hr>
                        <mat-list>
                            <div class="flex" style="place-content:space-between;" (click)="selected('glo','1')"><b>1G for 30days</b><p>{{300|currency:"NGN "}}</p>
                            </div>
                            <div class="flex" style="place-content:space-between;" (click)="selected('glo','2')"><b>2G for 30days</b><p>{{500|currency:"NGN "}}</p>
                            </div>
                            
                            <div class="flex" style="place-content:space-between;" (click)="selected('glo','3')"><b>4.5G for 30days</b><p>{{1000|currency:"NGN "}}</p>
                            </div>
                            <div class="flex" style="place-content:space-between;" (click)="selected('glo','4')"><b>6G for 30days</b><p>{{1500|currency:"NGN "}}</p>
                            </div>
                        </mat-list>
                    </mat-card>
                </div>
            </li>
            <li>
                <div>
                    <mat-card>
                        <h3>9MOBILE</h3>
                        <hr>
                        <mat-list>
                            <div class="flex" style="place-content:space-between;" (click)="selected('9mobile','1')"><b>1G for 30days</b><p>{{300|currency:"NGN "}}</p>
                            </div>
                            <div class="flex" style="place-content:space-between;" (click)="selected('9mobile','2')"><b>2G for 30days</b><p>{{500|currency:"NGN "}}</p>
                            </div>
                            
                            <div class="flex" style="place-content:space-between;" (click)="selected('9mobile','3')"><b>4.5G for 30days</b><p>{{1000|currency:"NGN "}}</p>
                            </div>
                            <div class="flex" style="place-content:space-between;" (click)="selected('9mobile','4')"><b>6G for 30days</b><p>{{1500|currency:"NGN "}}</p>
                            </div>
                        </mat-list>
                    </mat-card>
                </div>
            </li>
            
            <li>
                <div>
                    <mat-card>
                        <h3>AIRTEL</h3>
                        <hr>
                        <mat-list>
                            <div class="flex" style="place-content:space-between;" (click)="selected('airtel','1')"><b>1G for 30days</b><p>{{300|currency:"NGN "}}</p>
                            </div>
                            <div class="flex" style="place-content:space-between;" (click)="selected('airtel','2')"><b>2G for 30days</b><p>{{500|currency:"NGN "}}</p>
                            </div>
                            
                            <div class="flex" style="place-content:space-between;" (click)="selected('airtel','3')"><b>4.5G for 30days</b><p>{{1000|currency:"NGN "}}</p>
                            </div>
                            <div class="flex" style="place-content:space-between;" (click)="selected('airtel','4')"><b>6G for 30days</b><p>{{1500|currency:"NGN "}}</p>
                            </div>
                        </mat-list>
                    </mat-card>
                </div>
            </li>
        </ul>
    </div>
</section>