div#blueBg{
    height:10em;
    background-color: var(--blue);
    
}
div#mainCont{
    position: absolute;
    top: -2em;
    background-color: white;
    width: 20em;

}
.bxshdw{
    box-shadow: #ccc 2px 2px 2px 2px;
}
ul{
    padding: 0;
    justify-content: space-evenly;
}
li{
    list-style-type: none;
}
li>h2{
    height: 2em;
    width: 2em;
    border-radius: 50%;
    display: flex;
}li>h2>h2{
    height: 1em;
    width: 1em;
    border-radius: 50%;
    background-color: white;
}
a{
    text-decoration: none;
    color: inherit;
}
h5{
    text-align: center;
}
